{% extends 'base.html.twig' %}

{% block title %}
	{{product.nomeStile}}
{% endblock %}

{% block body %}
	<ol class="breadcrumb my-5">
		<li class="breadcrumb-item">
			<a href="{{path('home_index')}}">RicomputerB2BShop</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{path('prodotto_categorie', {'slug': product.categoria.slug})}}">{{product.categoria.nomeCategoria}}</a>
		</li>
		<li class="breadcrumb-item active">{{product.nomeStile}}</li>
	</ol>
	<h1 class="h1text-center">Prodotto:{{product.nomeStile}}({{product.prezzo/100}}
		&euro;)</h1>
	<div class="row">
		<div class="col-12 col-sm-12 col-md-4">

			<div class="card">
				<img src="{{product.coverImage}}" alt="imaggine di {{product.nomeStile}}" class="img-fluid">
				<div class="card-body">

					<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor assumenda velit fugiat ex labore, aliquam quisquam voluptas placeat error repellat atque dolorem cupiditate nam iusto, deleniti totam, fuga cum rem maiores. Vitae debitis praesentium ex ab modi saepe possimus nostrum?</p>

				</div>
			</div>


		</div>
		<div class="col-12 col-sm-12 col-md-4">
			<span class="badge badge-primary">{{product.categoria.nomeCategoria}}</span>
			<p>
				{{product.commento}}</p>
			<a href="{{path('cart_add',{'id':product.id})}}" class="btn btn-success btn-lg">
				<i class="fa fa-shopping-cart"></i>Agguingi Al Carello
			</a>
		</div>

	</div>


{% endblock %}
